.col-12.col-xs-12.col-sm-12.col-md-6.col-lg-6
  .card
    .info
      .row
        .col-md-12
          %span.text=format_datetime(bet.match.date)
          %span -
          %span.text=format_id_match(bet.match.id_match)
    .teams
      .row
        .col-4
          .team
            .image
              = image_tag(bet.match.team.avatar) 
            %span.name=format_short_name(bet.match.team.name)
        .col-4
          .time
            - if score?(bet.match.team_score, bet.match.opponent_score)
              %span.badge.badge-default=display_result(bet.match)
            - else
              %i.fas.fa-clock
            
        .col-4
          .team
            .image
              = image_tag(bet.match.opponent.avatar)
            %span.name=format_short_name(bet.match.opponent.name)

    .result
      .row
        .col-md-12
          %span.text=format_bet_score(bet.bet_team_score, bet.bet_opponent_score)

    - if score?(bet.match.team_score, bet.match.opponent_score)
      .message
        .row
          .col-md-12
            %span.text=select_message(bet, bet.match)
    .btn-right
      = link_to match_bet_path(id: bet.id, match_id: bet.match.id), class: "btn btn-link" do
        %i.fas.fa-plus-circle
        %span detalhes 
        