= flash_message_row

.row
  .col-md-8
    %h1.title Tabela do Campeonato
    .row.justify-content-center
      .col-auto
        %table.table.ranking
          %thead
            %tr
              %th Posição
              %th PTS
              %th.d-none.d-lg-table-cell J
              %th.d-none.d-lg-table-cell V
              %th.d-none.d-lg-table-cell E
              %th.d-none.d-lg-table-cell D
              %th.d-none.d-lg-table-cell GP
              %th.d-none.d-lg-table-cell GC
              %th.d-none.d-lg-table-cell SG
              %th.d-none.d-lg-table-cell CA
              %th.d-none.d-lg-table-cell CV
              %th.d-none.d-lg-table-cell %
              %th Recentes
              %th Próx
          %tbody
            = render_from_partials_cache(@rankings)
          
      
  = sidebar