@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
// used by stimulus-carousel
@import "scss/swiper.scss";

$bg-color: #f6f6f6;
$bg-card: #fcfcfc;
$bg-card-header: #224422;
$border-color: #ccc;

$default: #224422;

$text-light-color: #444;
$text-normal-color: #224422;
$text-bold-color: #113311;
$text-gray: #999;

$success-color: #28a745;
$danger-color: #dc3545;

body {
  min-height: 100%; /* set footer on bottom for scrolled height */
  padding: 0;
  margin: 0;
  position: relative;
  background-image: url(images/bg-img.svg);
}

// fix footer on page's bottom
body::after {
  content: "";
  display: block;
  height: 30px; /* Set same as footer's height */
}

header {
  width: 100%;
  height: auto;
  background-color: $bg-color;

  .border-style {
    border-bottom: 1px solid $border-color;
  }

  .inner-border-style {
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
  }

  // navbar bootstrap
  .nav-custom {
    padding: 0.5rem;
    z-index: 9999;

    .navbar-brand {
      svg {
        color: $text-normal-color;
      }

      .text {
        margin-left: -0.2rem;
        color: $text-light-color;
        font-size: 2vh;
      }
    }

    .navbar-nav {
      .menu-item {
        margin-right: 3rem;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 0.9rem;

        &:last-child {
          margin-right: 0;
        }

        a {
          color: $text-normal-color;

          &:hover {
            color: $text-bold-color;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

main {
  margin-bottom: 1rem;
  // bg-color for the main
  .content-style {
    padding-top: 1rem;
    background-color: $bg-color;
    border: 1px solid $border-color;
    border-top: none;
  }

  .title {
    width: 100%;
    font-size: 3vh;
    margin-bottom: 1rem;
    padding-bottom: 3px;
    font-weight: bold;
    color: $text-normal-color;
    border-bottom: 1px solid $text-normal-color;
  }

  // Used by forms to require input be filled up
  .required-fields {
    color: red;
  }

  // error style used on forms
  #error_explanation {
    border-radius: 15px;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: red;
    color: white;

    h2 {
      font-size: 20px;
      font-weight: bold;
    }
    ul {
      color: white;
    }
  }

  .form-bet {
    .image {
      text-align: center;
      max-width: 45px;
      max-height: 45px;
    }
  }

  .card {
    background-color: $bg-card;
    margin-bottom: 1rem;

    .header-custom {
      font-size: 1rem;
      font-weight: bold;
      line-height: 20px;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      background-color: $bg-card-header;
      color: #fff;
    }

    .card-text {
      padding: 1rem;
      text-indent: 1rem;
      text-align: left;
      color: $text-light-color;

      .block {
        display: block;
      }
    }

    .card-list {
      padding: 0;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: #fff;

        li {
          padding: 0.5rem 0 0.5rem 1rem;
          border-bottom: 1px solid $border-color;
          color: $text-light-color;
          img {
            max-width: 26px;
            max-height: 26px;
          }

          .success {
            color: $success-color;
          }

          .danger {
            color: $danger-color;
          }
        }
      }
    }

    .card-form {
      .team-avatar {
        text-align: center;
        margin-bottom: 1rem;
        .image {
          img {
            max-width: 45px;
            max-height: 45px;
          }
        }

        .name {
          text-transform: uppercase;
          color: $text-normal-color;
          font-size: 1.3rem;
          font-weight: 800;
        }
      }

      .form-group {
        .score {
          text-align: center;
          max-height: 60px;

          .button {
            min-width: 60px;
            max-width: 60px;
            min-height: 60px;
            border-color: $border-color;
            color: $default;
          }

          .button-right {
            margin-left: 0px;
          }

          .button-left {
            margin-right: 5px;
          }

          .input {
            text-align: center;
            max-width: 60px;
            min-height: 60px;
            font-size: 1rem;
            font-weight: 600;
          }
        }
      }
    }

    // wraps links after the submit button
    .link-wrapper {
      padding-top: 1.5rem;

      .link-block {
        display: block;
      }
    }
  }

  .component-today-matches {
    min-width: 288px;

    .card {
      padding: 0.5rem;
      margin-bottom: 1rem;
      text-align: center;
      background-color: $bg-card;
      text-transform: uppercase;

      .badge-default {
        color: white;
        background-color: $default;
      }

      .info {
        font-size: 0.7rem;
        color: $text-gray;
        font-weight: 600;

        margin-bottom: 0.5rem;

        .time {
          text-transform: none;
        }
      }

      .teams {
        vertical-align: middle;
        margin-bottom: 0.5rem;
        color: $text-normal-color;
        font-size: 1.3rem;
        font-weight: 800;

        .team {
          img {
            max-width: 45px;
            max-height: 45px;
          }
        }

        .time {
          margin-top: 1.5rem;
          text-transform: none;
        }

        .score {
          margin-top: 1.5rem;
          text-transform: none;
        }
      }

      .result {
        font-size: 1.2rem;
        margin-bottom: 0.1rem;
        font-weight: 600;
        text-transform: none;
        color: $default;
      }

      .message {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
        font-weight: 600;
        text-transform: none;
      }

      .place {
        font-size: 0.7rem;
        margin-bottom: 0.5rem;
        color: $text-gray;
        font-weight: 600;
      }

      .btn-custom {
        padding: 0.25em 0.4em;
        font-size: 80%;
        font-weight: 700;
        line-height: 1;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0.25rem;
      }

      .btn-right {
        margin-top: 0.5rem;
        text-align: right;
        text-transform: none;
        font-size: 0.5rem;
      }
    }
  }

  .bet-details {
    .highlight {
      font-weight: 600;
    }

    .divider {
      border-top: 2px solid $default;
      border-bottom: 2px solid $default;
    }

    .result {
      text-align: center;
    }
  }

  // TODO add respo for mobile
  .ranking {
    font-size: 14px;

    th:nth-last-child(-n + 13) {
      padding: 0.75rem 0.5rem;
    }

    td:nth-last-child(-n + 13) {
      padding: 0.75rem 0.5rem;
    }
  }

  // prevent from trigger click event on icons
  .non-clickable {
    pointer-events: none;

    svg {
      pointer-events: none;

      path {
        pointer-events: none;
      }
    }
  }

  // default avatar size for tables
  table {
    .team-avatar {
      img {
        max-width: 28px;
        max-height: 28px;
      }
    }
  }

  // stimulus-carousel
  .swiper-container {
    .spinner-border-wrapper {
      text-align: center;
      margin-top: -1rem;

      .spinner-small {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: $bg-color;
  border-top: 1px solid $border-color;
  border-radius: calc(0.25rem - 1px);

  .inner-border-style {
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
  }

  .copy-right {
    margin: auto;
    text-align: center;
    color: $text-normal-color;
  }
}
