@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
// used by stimulus-carousel
@import "~swiper/swiper-bundle";

$bg-color: #fff;
$text-light-color: #666;
$text-bold-color: #113311;

$text-color: #444444;
$text-color-light: #666666;
$text-color-lighter: #999999;

$border-color: #ccc;
$border-color-light: #dee2e6;
$border-color-dark: #444444;

// tables, headers, rows
$header: #e8e8e8;
$header-text: #5f6f6f;
$even-row: #f4f4f4;

html {
  height: 100%;
}

body {
  min-height: 100%; /* set footer on bottom for scrolled height */
  padding: 0;
  margin: 0;
  position: relative;
  background-image: url(images/bg-img.svg);
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

// fix footer on page's bottom
body::after {
  content: "";
  display: block;
  height: 30px; /* Set same as footer's height */
}

header {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
  background-color: $bg-color;
  border-radius: calc(0.25rem - 1px);

  .border-style {
    border-bottom: 1px solid $border-color;
    border-radius: calc(0.25rem - 1px);
  }

  .inner-border-style {
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
  }

  // navbar bootstrap
  .nav-custom {
    padding: 0.5rem;
    z-index: 9999;

    .navbar-brand {
      .text {
        margin-left: -0.2rem;
      }
    }

    .navbar-nav {
      .menu-item {
        margin-right: 3rem;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 0.9rem;

        &:last-child {
          margin-right: 0;
        }

        a {
          color: #556270;

          &:hover {
            color: #222;
            text-decoration: none;
          }
        }
      }
    }
  }
}

main {
  margin-bottom: 1rem;
  // bg-color for the main
  .content-style {
    padding-top: 1rem;
    background-color: $bg-color;
    border: 1px solid $border-color;
    border-radius: calc(0.25rem - 1px);
  }

  .title {
    display: flex;
    align-items: center;
    font-size: 3vh;
    margin-bottom: 1rem;
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;

    .text {
      padding-left: 1rem;
    }
  }

  // Used by forms to require input be filled up
  .required-fields {
    color: red;
  }

  // error style used on forms
  #error_explanation {
    border-radius: 15px;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: red;
    color: white;

    h2 {
      font-size: 20px;
      font-weight: bold;
    }
    ul {
      color: white;
    }
  }

  .card {
    margin-bottom: 1rem;

    .card-body {
      // wraps links after the submit button
      .link-wrapper {
        padding-top: 1.5rem;

        .link-block {
          display: block;
        }
      }
    }
  }

  .component-today-matches {
    .card {
      padding: 0.5rem;
      margin-bottom: 1rem;
      text-align: center;

      .info {
        text-transform: uppercase;
        font-size: 0.7rem;
        color: $text-light-color;

        margin-bottom: 0.5rem;
      }

      .teams {
        vertical-align: middle;
        margin-bottom: 0.5rem;

        .team {
          .name {
            text-transform: uppercase;
            font-size: 1.3rem;
            color: $text-bold-color;
            font-weight: 800;
          }

          img {
            max-width: 45px;
            max-height: 45px;
          }
        }

        .time {
          margin-top: 1.5rem;

          .text {
            color: $text-bold-color;
            font-size: 1.3rem;
            font-weight: 800;
          }
        }
      }

      .place {
        text-transform: uppercase;
        font-size: 0.7rem;
        margin-bottom: 0.5rem;
        color: $text-light-color;
      }

      .btn-custom {
        border-radius: 1rem;
      }
    }
  }

  // TODO add respo for mobile
  .ranking {
    font-size: 14px;

    th:nth-last-child(-n + 13) {
      padding: 0.75rem 0.5rem;
    }

    td:nth-last-child(-n + 13) {
      padding: 0.75rem 0.5rem;
    }

    img {
      max-width: 28px;
      max-height: 28px;
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: $bg-color;
  border-top: 1px solid $border-color;
  border-radius: calc(0.25rem - 1px);

  .inner-border-style {
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
  }

  .copy-right {
    margin: auto;
    text-align: center;
  }
}
