= flash_message_row

.row
  .col-md-2
  .col-md-4
    .card
      .card-header.header-custom
        %span Entrar
      .card-body
        - resource_class.omniauth_providers.each do |provider|
          = provider_links(omniauth_authorize_path(resource_name, provider), provider)
  .col-md-2

  = sidebar

