%tr
  %td=style_posicao(ranking.posicao) + " - #{ranking.team.name}"
  %td.font-weight-bold=ranking.pontos
  %td=ranking.jogos
  %td=ranking.vitorias
  %td=ranking.empates
  %td=ranking.derrotas
  %td=ranking.gols_pro
  %td=ranking.gols_contra
  %td=ranking.saldo_de_gols
  %td=ranking.cartoes_amarelos
  %td=ranking.cartoes_vermelhos
  %td=ranking.aproveitamento
  %td=style_recentes(ranking.recentes)
  %td opon