%tr
  %td
    =style_posicao(ranking[:posicao])
    %span -
    %span.team-avatar=image_tag(ranking[:team_avatar])
  %td.font-weight-bold=ranking[:pontos]
  %td.d-none.d-lg-table-cell=ranking[:jogos]
  %td.d-none.d-lg-table-cell=ranking[:vitorias]
  %td.d-none.d-lg-table-cell=ranking[:empates]
  %td.d-none.d-lg-table-cell=ranking[:derrotas]
  %td.d-none.d-lg-table-cell=ranking[:gols_pro]
  %td.d-none.d-lg-table-cell=ranking[:gols_contra]
  %td.d-none.d-lg-table-cell=ranking[:saldo_de_gols]
  %td.d-none.d-lg-table-cell=ranking[:cartoes_amarelos]
  %td.d-none.d-lg-table-cell=ranking[:cartoes_vermelhos]
  %td.d-none.d-lg-table-cell=ranking[:aproveitamento]
  %td=style_recentes(ranking[:recentes])
  %td.team-avatar=empty_or_next_opponent_avatar(ranking[:next_opponent_avatar])