%tr
  %td
    =style_position(ranking.position)
    %span -
    %span.team-avatar=image_tag(extract_variant_url(ranking.team.avatar.variant(resize_to_limit: [26, 26])))
  %td.font-weight-bold=ranking.points
  %td.d-none.d-lg-table-cell=ranking.played
  %td.d-none.d-lg-table-cell=ranking.won
  %td.d-none.d-lg-table-cell=ranking.drawn
  %td.d-none.d-lg-table-cell=ranking.lost
  %td.d-none.d-lg-table-cell=ranking.goals_for
  %td.d-none.d-lg-table-cell=ranking.goals_against
  %td.d-none.d-lg-table-cell=ranking.goal_difference
  %td.d-none.d-lg-table-cell=ranking.yellow_card
  %td.d-none.d-lg-table-cell=ranking.red_card
  %td.d-none.d-lg-table-cell=ranking.advantages
  %td=style_form(ranking.form)
  %td.team-avatar=""