.swiper-slide.component-today-matches
  .card
    .info
      .row
        .col-md-12
          - if match.date
            %span.text=format_datetime(match.date)
            %span -
            %span.text=format_id_match(match.id_match)
          - else
            %span aguardando
            %span -
            %span.text=format_id_match(match.id_match)
    .teams
      .row
        .col-4
          .team
            .image
              = image_tag(match.team.avatar)
            %span.name=format_short_name(match.team.name)
        .col-4
          .time 
            - if match.date
              %span.badge.badge-default=format_time(match.date)
            - else
              %i.fas.fa-clock                
        .col-4
          .team
            .image
              = image_tag(match.opponent.avatar)
            %span.name=format_short_name(match.opponent.name)
    .place
      .row
        .col-md-12
          - if match.place
            %span.text=match.place
          - else
            %span
    .btn-bet
      %span.badge.badge-secondary=sanitize '<i class="fas fa-clock"></i> Aguardando', tags: %w(i)
