.carousel-item{class: ("active" if jogo_passado_counter == 0)}
  .row
    .col-xs-12.col-sm-12.col-md-3.col-lg-3
    .col-xs-12.col-sm-12.col-md-6.col-lg-6                  
      .card
        .date
          Qua, 03/02/2021 16:00
        .teams
          .row
            .col-4
              = image_tag('bh.jpg')
            .col-4
              .time 
                %span 16h00
            .col-4
              = image_tag('bh.jpg')
        .local
          .row
            .col-md-12
          São Januário - Rio de Janeiro - RJ
        .btn-group{ role: "group", aria: { label: "Second group" } }
          = link_to "Detalhes", match_path(1), class: "btn btn-link"
    .col-xs-12.col-sm-12.col-md-3.col-lg-3