.swiper-slide.component-today-matches
  .row
    .col-3
    .col-6
      .card
        .info
          .row
            .col-md-12
              %span.text=MatchDecorator.new(match).display_date
              %span.text=MatchDecorator.new(match).display_id_match
        .teams
          .row
            .col-4
              .team
                .image
                  = image_tag(match.team.avatar)
                %span.name=TeamDecorator.new(match.team).display_short_name
            .col-4
              .time 
                %span.text=MatchDecorator.new(match).display_time
            .col-4
              .team
                .image
                  = image_tag(match.opponent.avatar)
                %span.name=TeamDecorator.new(match.opponent).display_short_name
        .place
          .row
            .col-md-12
              %span.text=match.place
        .btn-bet
          = link_to "Chutar", new_bet_path, class: "btn btn-success btn-sm btn-custom"
    .col-3