.swiper-slide.component-today-matches
  .row
    .col-3
    .col-6
      .card
        .info
          .row
            .col-md-12
              %span.date=MatchDecorator.new(match).display_date
              %span -
              %span.time=MatchDecorator.new(match).display_time
              %span -
              %span.match=MatchDecorator.new(match).display_id_match
        .teams
          .row
            .col-4
              .team
                .image
                  = image_tag(match.team.avatar)
                %span.name=TeamDecorator.new(match.team).display_short_name
            .col-4
              .score
                - if MatchDecorator.new(match).display_score
                  %span.badge.badge-default=MatchDecorator.new(match).display_score
                - else
                  %i.fas.fa-clock
            .col-4
              .team
                .image
                  = image_tag(match.opponent.avatar)
                %span.name=TeamDecorator.new(match.opponent).display_short_name
        .place
          .row
            .col-md-12
              %span.text=match.place
    .col-3