.card.sidebar
  .card-header.header-custom
    Sobre
  .card-text
    %span.block= sanitize "Chute do Brasileirão é um site para você acompanhar os resultados dos jogos do <b>Campeonato Brasileiro - Série A</b>.", tags: %w(b)
    %span.block= sanitize 'Você também pode dar um <b>"chute"</b> no placar do jogo do dia', tags: %w(b)

.card.sidebar
  .card-header.header-custom
    \#Zona Libertadores
  .card-list
    %ul
      = render_from_partials_cache(@top_rankings)

.card.sidebar
  .card-header.header-custom
    \#Zona Rebaixados
  .card-list
    %ul
      = render_from_partials_cache(@bottom_rankings)
      
