.col-12.col-xs-12.col-sm-12.col-md-12.col-lg-6
  .card
    .info
      .row
        .col-md-12
          %span.text=MatchDecorator.new(match).display_date
          %span -
          %span.text=MatchDecorator.new(match).display_id_match
    .teams
      .row
        .col-4
          .team
            .image
              = image_tag(match.team.avatar) 
            %span.name=TeamDecorator.new(match.team).display_short_name
        .col-4
          .time 
            %span.badge.badge-default=MatchDecorator.new(match).display_time
        .col-4
          .team
            .image
              = image_tag(match.opponent.avatar)
            %span.name=TeamDecorator.new(match.opponent).display_short_name
    .place
      .row
        .col-md-12
          %span.text=match.place
    .btn-bet
      = link_to new_match_bet_path(match.id), class: "btn btn-success btn-custom" do
        %i.fas.fa-futbol
        %span Chutar
        
        
      