= flash_message_row

.row
  .col-md-8
    %h1.title.border-0 Detalhes do Chute
    .row
      .col-12
        %table.table.bet-details
          %tbody
            %tr.divider
              %td 
                %span.highlight Nº do Jogo 
              %td.result=@bet.match.id_match
            %tr
              %td Local
              %td.result=@bet.match.place
            %tr
              %td Data
              %td.result=format_date(@bet.match.date)
            %tr
              %td Horário
              %td.result=format_time(@bet.match.date)
            %tr.divider
              %td 
                %span.highlight Time da casa 
              %td.result.team-avatar=image_tag(@bet.match.team.avatar)
            %tr
              %td Nome
              %td.result.team-avatar=@bet.match.team.name
            %tr
              %td Número de gols
              %td.result=style_number_of_goals(@bet.match.team_score)
            %tr
              %td Seu chute
              %td.result=style_bet_number_of_goals(@bet.bet_team_score, @bet.match.team_score)
            %tr.divider
              %td
                %span.highlight Time de fora
              %td.result.team-avatar=image_tag(@bet.match.opponent.avatar)
            %tr
              %td Nome
              %td.result=@bet.match.opponent.name
            %tr
              %td Número de gols
              %td.result=style_number_of_goals(@bet.match.opponent_score)
            %tr
              %td Seu chute
              %td.result=style_bet_number_of_goals(@bet.bet_opponent_score, @bet.match.opponent_score)
              
  = sidebar