= flash_message_row

.row
  .col-md-9
    %h1.title Resultado da partida
    .row
      .col-12.col-xs-12.col-sm-12.col-md-12.col-lg-12
        .card
          .card-header
            %span Seu chute
          .card-body
            .form-group
              
  = sidebar