= flash_message_row

.row
  .col-md-8
    %h1.title.border-0 Detalhes do Chute
    .row
      .col-12
        %table.table.bet-details
          %tbody
            %tr.divider
              %td 
                %span.highlight Nº do Jogo 
              %td.result=@resource.match.id_match
            %tr
              %td Local
              %td.result=@resource.match.place
            %tr
              %td Data
              %td.result=format_date(@resource.match.date)
            %tr
              %td Horário
              %td.result=format_time(@resource.match.date)
            %tr.divider
              %td 
                %span.highlight Time da casa 
              %td.result.team-avatar=image_tag(@resource.match.team.avatar)
            %tr
              %td Nome
              %td.result.team-avatar=@resource.match.team.name
            %tr
              %td Número de gols
              %td.result=style_number_of_goals(@resource.match.team_score)
            %tr
              %td Seu chute
              %td.result=style_bet_number_of_goals(@resource.bet_team_score, @resource.match.team_score)
            %tr.divider
              %td
                %span.highlight Time de fora
              %td.result.team-avatar=image_tag(@resource.match.opponent.avatar)
            %tr
              %td Nome
              %td.result=@resource.match.opponent.name
            %tr
              %td Número de gols
              %td.result=style_number_of_goals(@resource.match.opponent_score)
            %tr
              %td Seu chute
              %td.result=style_bet_number_of_goals(@resource.bet_opponent_score, @resource.match.opponent_score)
              
  = sidebar