!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Olá,
      %b
        = @user.full_name
    %p Alguém pediu a alteração de senha dessa conta. Você pode fazer isso através do link abaixo.
    %p
      #{link_to 'Alterar senha', api_v1_users_password_edit_url( reset_password_token: @user.reset_password_token )}.
    %p Se você não fez esse pedido, por favor ignore esse email.
    %p Sua senha não será alterada até que vocẽ acesse o link acima e crie uma nova senha.
    